<template>
    <div class="row mclass">
        <b-modal id="modal1" ref="myref" hide-footer title="Using Component Methods">
          <div class="d-block text-center">
            <h3>{{bodycon}}</h3>
          </div>
          <b-btn class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-btn>
        </b-modal>
        <div class="col-md-6">
            <div class="row">
              <p class="customHeader"> Hey Doc! please find all bookings pending your approvel</p>
              <b-col cols="12">
                <div class="my-card fillwidth" v-for="(reserve, index) in reserves" :key="reserve.id" style="padding:10px; margin-top:5px;">
                  <div class="customHeader">
                    <b-col  class="clincNameStyle" cols="6" style="margin-right:5px;">
                      <p>Reserve Date: {{reserve.reserve_date}}</p>
                    </b-col>
                    <b-col  class="clincNameStyle" cols="6" style="margin-left:5px;">
                     <p>Clinc Name: {{reserve.clinc.name}}</p>
                    </b-col>
                  </div>
                  <h6>Name: {{reserve.user.name}}</h6>
                  <h6>Mobile: {{reserve.user.detail.mobile}}</h6>
                  <h6>Problem: {{reserve.problem}}</h6>
                  <h6>Email:  {{reserve.user.email}}</h6>
                  <h6>status : {{reserve.accept}}</h6>
                  <b-row>
                    <div v-if="reserve.accept === 'pending'" class="buttons">
                      <b-btn size="sm" variant="success" @click.prevent="accept(reserve.id, index)" style="margin: 5px;">Accept</b-btn>
                      <b-btn size="sm" variant="danger" @click.prevent="refuse(reserve.id, index)" style="margin: 5px;">Refuse</b-btn>
                    </div>
                  </b-row>
                </div>
              </b-col>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mclass">
              <full-calendar @dayClick="dayClick" @eventClick="eventClick" :events="events"></full-calendar>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  mounted () {
    this.getAllReserves(this.$auth.user().id)
  },
  data () {
    return {
      reserves: [],
      bodycon: 'default',
      events: []
    }
  },
  methods: {
    getAllReserves (docId) {
      this.axios.get('/allDocReserves/' + docId).then(res => {
        console.log(res.data.status)
        console.log(res.data.appoints)
        this.reserves = res.data.appoints
        console.log('reservers Doctor')
        console.log(this.reserves)
        this.reserves.forEach(appoint => {
          this.events.push({
            'title': appoint.clinc.name,
            'start': appoint.reserve_date,
            'patient': appoint.user.name
          })
        })
        console.log(this.events)
      })
    },
    alertt (b) {
      console.log(b)
    },
    customToggle (r) {
      r.toggleDetails()
    },
    showModal (item) {
      console.log(item)
      this.bodycon = item.first_name
      this.$root.$emit('bv::show::modal', 'modal1')
    },
    hideModal () {
      this.$refs.myref.hide()
    },
    'dayClick' (day, event, jsEvent) {
      console.log('dayClick', day, event)
    },
    'eventClick' (event, jsEvent, pos) {
      console.log('eventClick', pos, event)
    },
    accept (id, index) {
      console.log(id)
      // api call post for accept
      this.axios.put('/docAccept', { 'id': id }).then(res => {
        console.log('Appointment Accepted')
        this.reserves[index].accept = 'accepted'
      })
    },
    refuse (id, index) {
      console.log(id)
      this.axios.put('/docRefuse', { 'id': id }).then(res => {
        console.log('Appointment Accepted')
        this.reserves[index].accept = 'refused'
        this.reserves.splice(index, 1)
        this.events.splice(index, 1)
      })
      // this.reserves.splice(index, 1)
      // api call for refuse
    }

  }
}
</script>
<style scoped>
.customHeader{
  display:flex; margin-right:20px; margin-left:20px;
}
.buttons{
  position: sticky;
  margin-left: auto;
  margin-right: 10px;
  float: right !important;
}
.nameDoc{
  margin:auto;
  width: 10%;
  background-color: #333;
  height: 30px;
  color: aliceblue;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 10px;
}
.clincNameStyle{
  display: inline-block;
  padding: 0 10px;
  width: 20%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #4cbfb2;
  margin-top: 5px;
}
.my-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.my-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container {
    padding: 2px 16px;
}
.mclass{
    margin-top: 20px;
}
.fillwidth{
    width: 100%,
}
.marDocSlice{
    margin: 5px;
}
.cardColor{
    background-color: #73affd;
}
</style>
