<template>
<div v-if="$auth.ready()">
  <div class="container">
<div class="panel panel-default">
   <div class="panel-body">
    <div class="box box-info">
            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                <input id="profile-image-upload" class="hidden" type="file">
                <div style="color:#999;" >click here to change profile image</div>
                <!--Upload Image Js And Css-->
                     </div>
              <br>
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">{{$auth.user().name}}</h4>
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
<div class="col-sm-5 col-xs-6 tital " >Email Adress:</div><div class="col-sm-7 col-xs-6 ">{{$auth.user().email}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

          </div>
          <!-- /.box -->

    </div>
    </div>
    </div>
</div>
<div v-if="!$auth.ready()">
   Loading.....
</div>
</div>

</template>
<script>
export default {
  props: ['doctor']
}
</script>
<style scoped>
              input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
     width: 100px;
    height: 100px;
    max-width: 100%;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
	.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
</style>
