<template>
<div>
<div v-if="$auth.ready() && $auth.user().role === 'doc'">
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <ul class="navbar-nav">
                    <router-link :to="{name: 'myprofile'}" class="nav-link">Profile</router-link>
                    <router-link :to="{name: 'allbookings'}" class="nav-link">All bookings</router-link>
                    <router-link :to="{name: 'myclincs'}" class="nav-link">My Clinics</router-link>
                    <router-link :to="{name: 'login'}" v-on:click.native="logout" class="nav-link">Logout</router-link>
                </ul>
           </div>
        </nav>
        <router-view></router-view>
    </div>
    <div v-else>
           You are not authorized to visit here
           <router-link :to="{name: 'login'}" v-on:click.native="logout" class="nav-link">Logout</router-link>
    </div>
    <div v-if="!$auth.ready()">
      Loadding
    </div>
</div>
</template>
<script>
export default {
  methods: {
    logout () {
      console.log('"USER IS LOGGING OUT"')
      this.$auth.logout({
        makeRequest: true,
        success: function () {
          console.log('logged out')
          this.auth.user.role = ''
        },
        error: function () { console.log('error out') }
        // etc...
      })
      // this.$store.commit('changeType', '')
    }
  }
}
</script>
