<template>
    <b-row class="mclass">
        <b-col cols="9" offset="2">
            <b-modal id="modalBookingId" ref="myNewClincModel" hide-footer title="Create new clinic">
                <b-alert variant="danger"
                dismissible
                :show="showDismissibleAlert"
                @dismissed="showDismissibleAlert=false">
                  please fill the form fields
              </b-alert>
                     <b-form >
                        <b-form-group id="nameId"
                                        label="Name"
                                        label-for="nameId">
                            <b-form-input id="nameId"
                                v-model="name"
                                type="text"
                                placeholder="Name of clinc">
                            </b-form-input>
                        </b-form-group>
                        <b-form-group id="specialityId"
                                        label="Speciality"
                                        label-for="specialityId">
                            <b-form-input id="specialityId"
                                v-model="speciality"
                                type="text"
                                placeholder="Speciality">
                            </b-form-input>
                        </b-form-group>
                        <b-row>
                            <b-col cols="6">
                                Opens at <vue-clock-picker v-model="timeOpen" >Opens @ </vue-clock-picker>
                            </b-col>
                            <b-col cols="6">
                                Closes at <vue-clock-picker v-model="timeClose" >closes @</vue-clock-picker>
                            </b-col>
                        </b-row>
                        <b-form-group id="description"
                                        label="Description"
                                        label-for="description">
                            <b-form-textarea id="description"
                                v-model="desc"
                                placeholder="What is offered in that clinc?">
                            </b-form-textarea>
                        </b-form-group>
                        <b-form-group id="seatsId"
                                        label="Seats"
                                        label-for="seatsId"
                                        description="How Many could reserve daily?">
                            <b-form-input id="seatsId"
                                        type="number"
                                        min="1"
                                        v-model="seats">
                            </b-form-input>
                        </b-form-group>
                     </b-form>
                    <b-btn class="mt-3" variant="outline-success" block @click="onAddClicked">Add Clinc</b-btn>
            </b-modal>
            <b-card class="marDocSlice" v-b-scrollspy>
                <b-row>
                    <b-col>
                        <h4 style="align:center">My clincs</h4>
                    </b-col>
                    <b-col cols="3" offset="3">
                    <b-btn variant="outline-success" class="btnRight" size="small"   @click.prevent="onNewClinc">Add Clinc</b-btn>
                    </b-col>
                </b-row>
                <b-card class="clincSection" v-for="clinc in allClincs" :key="clinc.id" border-variant="info">
                    <h3>{{clinc.name}}</h3>
                    <h5>{{clinc.speciality}}</h5>
                    <small>{{clinc.desc}}</small>
                    <p>seats : {{clinc.seat}}</p>
                    <!-- <p>Description : {{clinc.desc}}</p> -->
                    <p> Opens @ {{clinc.o_time}} - Closes @ {{clinc.c_time}}</p>
                    <!-- <button class="primary btnRight" @click.prevent="onBook"> Book </button> -->
                </b-card>
            </b-card>
        </b-col>
    </b-row>
</template>
<script>
import VueClockPicker from '@pencilpix/vue2-clock-picker'
import '@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css'
// import axios from 'axios'
export default {
  data () {
    return {
      showDismissibleAlert: false,
      allClincs: [],
      timeOpen: '',
      timeClose: '',
      desc: '',
      seats: '',
      speciality: '',
      name: ''
    }
  },
  components: {
    VueClockPicker
  },
  mounted () {
    this.getAllMyClincs()
  },
  methods: {
    onNewClinc: function () {
      this.$refs.myNewClincModel.show()
    },
    onAddClicked: function () {
      // checking if Any field empty
      if (this.timeOpen === '' || this.timeClose === '' ||
        this.seats === '' || this.desc === '' ||
        this.speciality === '' || this.name === '') {
        console.log('error please fill all the information')
        this.showDismissibleAlert = true
        return
      }
      const data = {
        o_time: this.timeOpen,
        c_time: this.timeClose,
        seat: this.seats,
        desc: this.desc,
        speciality: this.speciality,
        name: this.name
      }
      this.axios.post('/myclincs', data).then(res => {
        console.log(data)
        console.log(res.data)
        this.allClincs.push(res.data.data)
        console.log(this.allClincs)
      })
      this.$refs.myNewClincModel.hide()
    },
    getAllMyClincs: function () {
      this.axios.get('/allmyclincs').then(res => {
        console.log(res)
        this.allClincs = res.data
      })
    }
  }
}
</script>
<style scoped>
.mclass{
    margin-top: 20px;
}
.btnRight{
    float: right;
}
.clincSection{
    margin-top: 5px;
}

</style>

