<template>
    <div>
        <!-- <input type="text" name="username" v-model="input.username" placeholder="Username" /> -->
        <!-- <input type="password" name="password" v-model="input.password" placeholder="Password" /> -->
        <!-- <button type="button" v-on:click="login()">Login</button> -->
      <b-form @submit.prevent="serverLogin" v-if="show">
      <b-form-group id="emailDoc"
                    label="Email address:"
                    label-for="emailDoc">
        <b-form-input id="emailPat"
                      type="email"
                      v-model="input.email"
                      required
                      placeholder="Enter email">
        </b-form-input>
      </b-form-group>
        <b-form-group id="passwordDoc"
                    label="Password"
                    label-for="passwordPat">
        <b-form-input id="passwordDoc"
                      type="password"
                      v-model="input.password"
                      required
                      placeholder="Password">
        </b-form-input>
      </b-form-group>
      <b-col cols="6" offset="3">
        <b-button class="form-control btn" type="submit" variant="primary">Login</b-button>
      </b-col>
    </b-form>
    </div>
</template>
<script>
export default {
  data () {
    return {
      show: true,
      input: {
        email: '',
        password: '',
        type: 'doc'
      }
    }
  },
  methods: {
    serverLogin: function () {
      this.$auth.login({
        params: {
          email: this.input.email,
          password: this.input.password,
          type: 'doc'
        },
        success: function (resp) {
          console.log('successful login')
          // console.log(resp)
          // console.log(this.$auth.user)
          // this.$router.push({ name: 'allbookings' })
        },
        error: function (resp) {
          if (resp.response.status === 400) {
            // emit event
            this.$emit('errorMessageEvent', resp.response.data)
          }
        },
        redirect: { name: 'allbookings' },
        fetchUser: true
      })
    }
    // login: function () {
    //   //   const email = 'a@a.a'
    //   const email = this.$parent.fakeaccount.email
    //   //   const upass = '1234'
    //   const upass = this.$parent.fakeaccount.password
    //   console.log(this)
    //   if (email === this.input.email && upass === this.input.password) {
    //     // add to local storage
    //     // localStorage.setItem('user', JSON.stringify({ uname: this.input.username, upass: this.input.password, utype: this.input.type }))
    //     this.$store.commit('changeType', this.input.type)
    //     console.log(this.input.type)
    //     if (this.input.type === 'doc') {
    //       // redirect to doc pages
    //       console.log('im doc')
    //       this.$router.push({ name: 'allbookings' })
    //     }
    //   }
    //   console.log('login Patient')
    // }
  }
}
</script>
