<template>
    <div>
        <!-- <input type="text" name="username" v-model="input.username" placeholder="Username" /> -->
        <!-- <input type="password" name="password" v-model="input.password" placeholder="Password" /> -->
        <!-- <button type="button" v-on:click="login()">Login</button> -->
    <b-form @submit.prevent="loginServer" v-if="show">
      <b-form-group id="emailPat"
                    label="Enter your Email"
                    label-for="emailPat"
                    description="We'll never share your mobile with anyone else.">
        <b-form-input id="emailPat"
                      type="email"
                      v-model="input.email"
                      required
                      placeholder="example@gexample.com">
        </b-form-input>
      </b-form-group>
      <b-form-group id="passwordPat"
                    label="Password"
                    label-for="passwordPat">
        <b-form-input id="passwordPat"
                      type="password"
                      v-model="input.password"
                      required
                      placeholder="Password">
        </b-form-input>
      </b-form-group>
      <b-col cols="6" offset="3">
        <b-button  class="form-control btn" type="submit" variant="primary">Login</b-button>
      </b-col>
    </b-form>
    </div>
</template>
<script>
export default {
  data () {
    return {
      show: true,
      input: {
        password: '',
        email: '',
        type: 'pat'
      }
    }
  },
  methods: {
    onReset: function () {
      console.log('reset')
    },
    loginServer: function () {
      this.$auth.login({
        params: {
          email: this.input.email,
          password: this.input.password,
          type: 'pat'
        },
        success: function (resp) {
          console.log('successful login')
        },
        error: function (resp) {
          if (resp.response.status === 400) {
            // emit event
            this.$emit('errorMessageEvent', resp.response.data)
          }
        },
        redirect: { name: 'bookdoctor' },
        fetchUser: true
      })
      console.log('login Patient')
    }
  }
}
</script>
<style scoped>

</style>

