<template>
    <div class="container-fluid">
      <router-view></router-view>
    </div>
</template>
<script>
import 'fullcalendar/dist/fullcalendar.css'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import Login from './authcomponents/Login.vue'
export default {
  components: {
    Login
  },
  data () {
    return {
      loggedin: false
    }
  }
}
</script>

