<template>
    <!-- <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                {{title}}
            </div>
        </div>
    </div> -->
    <div>
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <ul class="navbar-nav">
                    <router-link :to="{name: 'index'}" class="nav-link">Home</router-link>
                    <router-link :to="{name: 'page'}" class="nav-link">SPA-PAGE</router-link>
                    <router-link :to="{name: 'profile'}" class="nav-link">Profile</router-link>
                </ul>
           </div>
        </nav>
    </div>
</template>
<script>
export default {
  mounted () {
    console.log('Nothing gets called before me!')
    // localStorage.setItem('user', '')
    // const u = JSON.parse(JSON.stringify(localStorage.getItem('user')))
    // console.log(u)
  },
  props: ['title'],
  methods: {
    consolebefore () {
    //   const u = JSON.parse(localStorage.getItem('user'))
    //   console.log(u)
    }
  }
}
</script>
