<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-alert variant="success"
          dismissible
          :show="showDismissibleAlertDelete"
          @dismissed="showDismissibleAlertDelete=false">
          <p>Deleted successfull </p>
        </b-alert>
      </b-col>
    </b-row>
    <div class="row mclass">
      <div class="col-md-6">
        <b-row class="cardTitleColor" style="margin-left: 5px; margin-right:5px;">
          <b-col cols="6" offset="4"><h5>All Available Doctors</h5></b-col>
        </b-row>
        <div class="row">
            <b-modal id="modalBookingId" ref="myrefBookModal" hide-footer title="Book Appointment">
              <b-alert variant="danger"
                dismissible
                :show="showDismissibleAlert"
                @dismissed="showDismissibleAlert=false">
                  Please select another date
                  <p>{{this.date}} is not available! </p>
              </b-alert>
              <b-alert variant="danger"
                dismissible
                :show="showDismissibleAlertEmpty"
                @dismissed="showDismissibleAlertEmpty=false">
                  <p>You cann't submit without filling </p>
              </b-alert>
              <div class="d-block clincNameStyle text-center">
                <h4>{{bodycon}}</h4>
              </div>
              <b-form  v-if="show">
                <b-form-group id="description"
                  label="Problem Description"
                  label-for="description"
                  description="try explain what you have as much as you can!">
                    <b-form-textarea id="textarea1"
                      v-model="description"
                      placeholder="Enter something"
                      :rows="3"
                      :max-rows="6"
                      required>
                    </b-form-textarea>
                  </b-form-group>
                    <b-form-group id="date"
                        label="Date"
                        label-for="date"
                        description="Select the suitable date">
                      <b-form-input id="date"
                        type="date"
                        :min="this.minDate"
                        v-model="date"
                        required>
                      </b-form-input>
                  </b-form-group>
              </b-form>
              <b-btn class="mt-3" variant="outline-success" block @click="onSubmit">Book</b-btn>
            </b-modal>
              <b-col v-for="doc in docs" :key="doc.id" style="margin:10px; padding:10px;" cols="12">
                <b-row> <h4 class="nameDoc">{{doc.name}}</h4></b-row>
                  <b-row class="fillwidth">
                    <b-col v-for="(clinc, cIndex) in doc.clincs" :key="clinc.id" cols="12">
                      <div class="my-card mclass">
                        <div class="card-container fillwidth">
                          <h5 class="clincNameStyle">{{clinc.name}}</h5>
                          <h6>Speciality : {{clinc.speciality}}</h6>
                          <small>Description : {{clinc.desc}}</small>
                          <small>Daily seats : {{clinc.seat}}</small>
                          <b-btn variant="outline-success" :index="cIndex" float class="btnRight mt-2" vertical end @click.prevent="onBook(clinc, cIndex)">Book</b-btn>
                          <h6>opens @ {{clinc.o_time}} till {{clinc.c_time}} o'clock</h6>
                        </div>
                      </div>
                    </b-col>
                  </b-row>
              </b-col>
        </div>
      </div>
      <div  class="col-md-6">
        <b-row class="cardTitleColor" style="margin-left: 5px;margin-right: 5px;">
          <b-col cols="6"  offset="4"><h5>All My Bookings</h5></b-col>
        </b-row>
        <div class="scrollOver">
          <b-card   v-for="(reserve, index) in reserves" :key="reserve.id" deck class="fillwidth marDocSlice" border-variant="info">
            <slot name="header">
              <b-btn class="btnRight" variant="outline-danger" @click="deleteMyApp(reserve.id, index)"><i class="fa fa-close"></i></b-btn>
            </slot>
            <b-row>
              <b-col cols="12">
                <h4>{{reserve.reserve_date}}</h4>
                <small>Problem: {{reserve.problem}}</small>
                <p>Clinc Name: {{reserve.clinc.name}}</p>
                <p>Clinc: {{reserve.clinc.speciality}}</p>
                <small>Opens at {{reserve.clinc.o_time}} and closes at {{reserve.clinc.c_time}} </small>
                <p style="float left;">{{reserve.accept}}</p>
                </b-col>
            </b-row>
                      <!-- <button class="primary btnRight" @click.prevent="onBook"> Book </button> -->
          </b-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted () {
    this.getAllDocs()
    this.getMyReservations()
    // Today date is the min
    this.minDate = new Date().toISOString().split('T')[0]
  },
  data () {
    return {
      show: true,
      description: '',
      bodycon: '',
      date: '',
      docs: [],
      wantedClinc: [],
      reserves: '',
      showDismissibleAlert: false,
      showDismissibleAlertDelete: false,
      showDismissibleAlertEmpty: false,
      failMessage: '',
      minDate: ''
    }
  },
  methods: {
    onBook (obj, i) {
      this.wantedClinc = obj
      this.showModal(obj.name)
    },
    deleteMyApp (id, index) {
      this.axios.delete('/deleteMyAppointment/' + id).then(res => {
        console.log(res.data.status)
        this.reserves.splice(index, 1)
        this.showDismissibleAlertDelete = true
      })
    },
    onSubmit () {
      if (this.date === '' || this.desc === '') {
        this.showDismissibleAlertEmpty = true
        return
      }
      const data = {
        reserve_date: this.date,
        problem_description: this.description,
        clinc_id: this.wantedClinc.id
      }
      this.axios.post('/bookAppointment', data).then(res => {
        console.log(res.data.status)
        if (res.data.status === 'failed') {
          this.showAlert()
        } else {
          console.log('log here')
          this.reserves.push(res.data.data[0])
          console.log(this.reserves)
          this.date = ''
          this.bodycon = ''
          this.description = ''
          this.$refs.myrefBookModal.hide()
        }
      })
    },
    showModal (name) {
      console.log('item')
      this.bodycon = name
      this.$root.$emit('bv::show::modal', 'modalBookingId')
    //   this.$refs.myref.show()
    },
    hideModal () {
    },
    getAllDocs () {
      this.axios.get('/allDocs').then(res => {
        console.log(res.data.data)
        this.docs = res.data.data
      })
    },
    getMyReservations () {
      const userId = this.$auth.user()[0].id
      this.axios.get('/allReserves/' + userId).then(res => {
        console.log(res.data.appoints)
        this.reserves = res.data.appoints
      })
    },
    showAlert () {
      this.showDismissibleAlert = true
    }
  }
}
</script>
<style scoped>
.nameDoc{
  margin:auto;
  width: 90%;
  background-color: #333;
  height: 30px;
  color: aliceblue;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 10px;
}
.clincNameStyle{
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #4cbfb2;
  margin-top: 5px;
}
.my-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.my-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container {
    padding: 2px 16px;
}
.mclass{
    margin-top: 10px;
}
.fillwidth{
    width: 100%;
    margin: 0% auto
}
.btnRight{
    float: right;
}
.marDocSlice{
    margin: 5px;
}
.cardTitleColor{
    background-color: #5e91f0;
    padding: 2px;
}
.zeroPadding{
    padding: 0px;
}
.scrollOver{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    max-width:100%;
    max-height:750px;
}
.blog-container {
  background: #Eff;
  border-radius: 5px;
  box-shadow: hsla(0, 0, 0, .8) 0 4px 4px -4px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 20px auto;
  width: 20rem;
}
.blog-container a {
  color: #000;
  text-decoration: none;
  transition: .25s ease;
}
.blog-author,
.blog-author--no-cover {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;
}
.blog-author h3::before,
.blog-author--no-cover h3::before {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}
.blog-author h3 {
  color: #000;
  font-weight: 100;
}
.blog-author--no-cover h3 {
  color: lighten(#333, 40%);
  font-weight: 100;
}

.blog-body {
  margin: 0 auto;
  width: 80%;
}
.blog-title h1 a {
  color: #333;
  font-weight: 100;
}
.blog-summary p {
  color: lighten(#333, 10%);
}
.blog-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.blog-tags li + li {
  margin-left: .5rem;
}
.blog-tags a {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  color: lighten(#333, 40%);
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 .5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}

.blog-footer {
  border-top: 1px solid lighten(#333, 70%);
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}
.blog-footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}
.blog-footer li:first-child {
  margin-right: auto;
}
.blog-footer li + li {
  margin-left: .5rem;
}
.blog-footer li {
  color: lighten(#333, 40%);
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}
</style>
