<template>
<div>
        <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
            <div class="container">
                <ul class="navbar-nav">
                    <router-link :to="{name: 'profile'}" class="nav-link">Profile</router-link>
                    <router-link :to="{name: 'bookdoctor'}" class="nav-link">Book a doctor</router-link>
                    <router-link :to="{name: 'login'}" v-on:click.native="logout" class="nav-link">Logout</router-link>
                </ul>
           </div>
        </nav>
        <router-view></router-view>
    </div>
</template>
<script>
export default {
  methods: {
    logout () {
      console.log('"USER IS LOGGING OUT"')
      this.$auth.logout({
        makeRequest: true,
        success: function () {
          console.log('logged out')
          this.auth.user.role = ''
        },
        error: function () { console.log('error out') }
        // redirect: '/login'
        // etc...
      })
      // this.$store.commit('changeType', '')
    }
  }
}
</script>
