<template>
<div id="parent">
  <div id="child">
    <b-row>
      <b-col cols="6" offset="3">
        <div class="panel-heading">
						<b-row class="row">
							<b-col cols="4" offset="2">
                <b-button v-bind:class="{'myCustomClickedStyle': clickedReally && loginType === 'pat-login'}" variant="success-outline"  @click="loginType = 'pat-login'; clickedReally = loginType=== 'pat-login' ? clickedReally:!clickedReally"> Patient </b-button>
							</b-col>
							<b-col cols="4" offset="2">
                <b-btn v-bind:class="{'myCustomClickedStyle': clickedReally && loginType === 'doc-login'}" variant="success-outline" @click="loginType = 'doc-login'; clickedReally = loginType=== 'doc-login' ? clickedReally:!clickedReally"> Doctor</b-btn>
							</b-col>
						</b-row>
				</div>
        <div class="panel panel-login">
          <div class="panel-body">
            <b-col class="vertPadding horizMargin">
              <b-alert variant="danger"
                dismissible
                style="margin: 5px;"
                :show="showDismissibleAlertError"
                @dismissed="showDismissibleAlertError=false">
                 <p>{{this.errorMessage}}</p>
            </b-alert>
              <component v-bind:is="loginType" v-on:errorMessageEvent="onError"></component>
            </b-col>
          </div>
        </div>
      <b-row>
        <div class="text-center">
            <router-link :to="{name: 'register'}" class="nav-link">Register</router-link>
        </div>
      </b-row>
     </b-col>
    </b-row>
  </div>
</div>
</template>

<script>
import DocLogin from './login/DocLogin'
import PatLogin from './login/PatLogin'
export default {
  login: true,
  components: {
    'doc-login': DocLogin,
    'pat-login': PatLogin
  },
  data () {
    return {
      clickedReally: true,
      errorMessage: '',
      showDismissibleAlertError: false,
      fakeaccount: {
        username: 'ahmed',
        password: '1234',
        email: 'a@a.a'
      },
      loginType: 'pat-login'
    }
  },
  methods: {
    onError (badObject) {
      console.log('baddddddd request')
      this.errorMessage = badObject.msg
      this.showDismissibleAlertError = true
    }
  }
}
</script>
<style scoped>
.divLogin{
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
#parent {padding:  5% 0;}
#child  {padding: 10% 0;}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.horizMargin{
  margin-left: 10px;
  margin-right: 10px;
}
.vertPadding{
  padding-top: 10px;
  padding-bottom: 10px;
}
.myCustomClickedStyle{
  background-color: #4CAF50;
}
</style>
