<template>
        <div class="container">
        <div class="row justify-content-center">
			You are not Authorized
            <!-- <b-button @click.prevent="logout" variant="success-outline">logout</b-button> -->
            <router-link :to="{name: 'login'}" v-on:click.native="logout" class="nav-link">Logout</router-link>
        </div>
	</div>
</template>
<script>
export default {
  data: () => {
    return {
      input: {
        username: '',
        password: '',
        email: ''
      }
    }
  },
  methods: {
    logout () {
      console.log('"USER IS LOGGING OUT"')
      this.$auth.logout({
        makeRequest: true,
        success: function () {
          console.log('logged out')
          this.auth.user.role = ''
          this.router.push('/login')
        },
        error: function () { console.log('error out') }
        // redirect: '/login'
        // etc...
      })
      // this.$store.commit('changeType', '')
    }
  }
}
</script>
