<template>
  <b-container>

<div id="parent">
    <div id="child">
      <b-row>
        <b-col cols="6" offset="3">
          <div class="panel-heading">
						<b-row class="row">
							<b-col cols="4" offset="2">
								<a href="#"  v-bind:class="{'myCustomClickedStyle': clickedReally && input.role==='pat'}"  ref="login-form-link" class="active" @click.prevent="input.role = 'pat'; clickedReally = input.role==='pat' ? clickedReally:!clickedReally" id="login-form-link" >Patient</a>
							</b-col>
							<b-col cols="4" offset="2">
								<a href="#" v-bind:class="{'myCustomClickedStyle': clickedReally && input.role==='doc'}"   @click.prevent="input.role = 'doc'; clickedReally = input.role==='doc' ? clickedReally:!clickedReally" >Doctor</a>
							</b-col>
						</b-row>
				</div>
      <div class="panel panel-login">
        <div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
                 <b-alert variant="danger"
                dismissible
                style="margin: 5px;"
                :show="showDismissibleAlertDelete"
                @dismissed="showDismissibleAlertDelete=false">
                 <p>{{this.alertMessage}}</p>
            </b-alert>
  <b-form @submit.prevent="register" ref="patient-form" v-if="input.role === 'pat'"  class="horizMargin vertPadding">
    <!-- <p>hkhkjhkjkhkjh{{input.role}}</p> -->
                    <b-form-group id="usernamePat"
                                  label-for="usernamePat">
                      <b-form-input id="usernamePat"
                                    type="text"
                                    v-model="input.username"
                                    required
                                    placeholder="Enter Full Name">
                      </b-form-input>
                    </b-form-group>
                    <b-form-group id="emailPat"
                                  label-for="emailPat">
                      <b-form-input id="emailPat"
                                    v-model="input.email"
                                    required
                                    type="email"
                                    placeholder="Enter email : sample@sample.com">
                      </b-form-input>
                    </b-form-group>
                      <b-form-group id="mobilePat"
                                  label-for="mobilePat">
                      <b-form-input id="mobilePat"
                                    type="tel"
                                    pattern="[0-9]{10}"
                                    v-model="input.mobile"
                                    required
                                    placeholder="Mobile: 05x xxx xxxx">
                      </b-form-input>
                    </b-form-group>
                    <b-row>
                      <b-col>
                        <b-form-group id="passwordPat"
                                    label-for="passwordPat">
                        <b-form-input id="passwordPat"
                                      type="password"
                                      v-model="input.password"
                                      required
                                      placeholder="Password">
                        </b-form-input>
                      </b-form-group>
                      </b-col>
                      <b-col>
                        <b-form-group id="passwordConPat"
                                    label-for="passwordPat">
                        <b-form-input id="passwordConPat"
                                      type="password"
                                      v-model="input.passwordConf"
                                      required
                                      placeholder="Password confirmation">
                        </b-form-input>
                      </b-form-group>
                      </b-col>
                    </b-row>
                    <b-form-group>
                      <b-row>
                        <b-textarea no-resize rows="3" v-model="input.patDesc" placeholder="Write about yourself to know better you." class="horizMargin">
                        </b-textarea>
                      </b-row>
                    </b-form-group>
                    <b-form-group>
                      <b-row>
                        <b-col cols="6" offset="3">
                            <b-button type="Register"  class="form-control btn btn-login" >Register</b-button>
                        </b-col>
                      </b-row>
                    </b-form-group>
                  </b-form>
              <b-form @submit.prevent="register" ref="doc-form" v-if="input.role === 'doc'" class="horizMargin vertPadding">
                <!-- <p>kljllkklljklljklj{{input.role}}</p> -->
                    <b-form-group id="usernamePat"
                                  label="Your Name:"
                                  label-for="usernamePat">
                      <b-form-input id="usernamePat"
                                    type="text"
                                    v-model="input.username"
                                    required
                                    placeholder="Enter name">
                      </b-form-input>
                    </b-form-group>
                    <b-form-group id="emailPat"
                                  label="Email address:"
                                  label-for="emailPat">
                      <b-form-input id="emailPat"
                                    type="email"
                                    v-model="input.email"
                                    required
                                    placeholder="Enter email">
                      </b-form-input>
                    </b-form-group>
                      <b-form-group id="passwordPat"
                                  label="Password"
                                  label-for="passwordPat">
                      <b-form-input id="passwordPat"
                                    type="password"
                                    v-model="input.password"
                                    required
                                    placeholder="Password">
                      </b-form-input>
                    </b-form-group>
                    <b-form-group>
                      <b-row>
                        <b-col cols="6" offset="3">
                            <b-button type="Register"  class="form-control btn btn-login" >Register</b-button>
                            <!-- <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In"> -->
                        </b-col>
                      </b-row>
                    </b-form-group>
                  </b-form>
							</div>
						</div>
					</div>
				</div>
        <div class="row">
						<div class="col-lg-12">
							<div class="text-center">
								<!-- <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a> -->
              <p>You have an account?<router-link :to="{name: 'login'}" class="nav-link">login</router-link></p>
            </div>
						</div>
				</div>
        </b-col>
      </b-row>
    </div>
</div>
</b-container>
</template>
<script>
// const vaseUrl = 'http://localhost:8000/api'
export default {
  data: () => {
    return {
      clickedReally: true,
      show: 'pat',
      alertMessage: '',
      showDismissibleAlertDelete: false,
      input: {
        username: '',
        password: '',
        email: '',
        passwordConf: '',
        mobile: '',
        role: 'pat',
        patDesc: ''
      }
    }
  },
  methods: {
    register () {
      console.log('here')
      console.log('registered')
      let da = {}
      if (this.input.role === 'pat') {
        if (this.input.password === this.input.passwordConf) {
          da = {
            name: this.input.username,
            password: this.input.password,
            email: this.input.email,
            role: this.input.role,
            desc: this.input.patDesc,
            mobile: this.input.mobile
          }
        } else {
          alert('Password and confirmation doesn\'t match')
          return
        }
      } else {
        da = {
          name: this.input.username,
          password: this.input.password,
          email: this.input.email,
          role: this.input.role
        }
      }
      this.$auth.register({
        data: da,
        success: function () {
          console.log('all goes well')
        },
        error: function (resp) {
          if (resp.response.status === 400) {
            // Alert you can't use this email.
            this.alertMessage = resp.response.data.message
            this.showDismissibleAlertDelete = true
          }
        },
        redirect: '/login'
      })
    },
    loginLink () {
      this.show = 'pat'
    },
    registerLink () {
      this.show = 'doc'
    }
  }
}
</script>
<style scoped>
body {
    padding-top: 90px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.centered{
  margin-top: 50px;
}
#parent {padding:  5% 0;}
#child  {padding: 10% 0;}
.horizMargin{
  margin-left: 10px;
  margin-right: 10px;
}
.vertPadding{
  padding-top: 10px;
  padding-bottom: 10px;
}
.myCustomClickedStyle{
  background-color: #4CAF50;
  text-decoration:none;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff
}
</style>
